#nav-alumno{
    display: flex;
    flex-direction: row;
}

.elementos{
    margin-right: 20%;
    display: flex;
    align-items: center;
    width: 9.7%;
}

.elementos img{
    width: 100%;
    height: 100%;
}

#menu{
    background-color: #D0B97D;
}

/*.elementos #logo{
    width: 15%;
}*/

.boton {
    background-color: #333;
    display: flex;
    color: #fff;
    width: 100%;
}

.elementos_desplegable{
    margin-top: 0.5%;
    width: 10.3%;
    background-color: #D0B97D;
}

.elementos_desplegable a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333;
}

#historico thead{
    background-color: gray;
}

#historico{
    margin-top: 2%;
    background-color: white;
}

table{
    width: 100%;
}
table tbody tr td{
    text-align: center;
}

table thead tr td{
    text-align: center;
}

#login img{
    width: 52%;
    height: 100%;
}
