html{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#cuerpo #container{
    background-color: #83C2CF;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 20%;
}
#cuerpo{
    background-color: #83C2CF;
    justify-content: center;
    align-items: center;
    width: 40%;
    display: flex;
    flex-direction: column;
    height: 100%;
}
#container{
    margin-left: 3%;
    height: 100%;
}

#enlace{
    margin-bottom: 3%;
}

#cambiar{
    margin-top: 10%;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#cambiar input[type='submit']{
    background-color: #746C6C;
    color: #FFFF;
}

.campos input{
    margin-bottom: 8%;
}

.campos div{
    margin-bottom: 5%;
}

#mensaje_error{
    color: red;
}
