#contenedor{
    background-color: #83C2CF;
    width: 50%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 10%;
}

#imagen{
    width: 100%;
    margin-left: 8%;
    margin-bottom: 3%;
    justify-content: center;
}
#imagen img{
    margin-left: 2%;
    width: 100%;
}

#contenedor{
    display: flex;
    justify-content: center;
}

#usuario{
    margin-bottom: 5%;
    text-align: center;
    margin-left: 10%;
    justify-content: center;
}

#usuario #lblUsuario{
    margin-bottom: 5%;
}

#contraseña{
    margin-bottom: 2%;
    text-align: center;
    margin-left: 10%;
    justify-content: center;
}

#error{
    color: red;
}

.botones{
    text-align: center;
    width: 45%;
}

.botones input{
    width: 100%;
    background-color: #746C6C;
    color: #FFFF;
}

#diverror{
    margin-left: 2%;
}

#divbotones{
    display: flex; /* Cambiado de inline-block a flex */
    justify-content: space-between; /* Espacio entre los botones */
    margin-left: 10%;
    width: 100%;
    margin-top: 10%;
}

#lblUsuario{
    text-align: left;
    height: 10%;
}

#contraseña #lblContrasena{
    margin-bottom: 5%;
    text-align: left;
}


#forgot_password{
    text-align: center;
    margin-top: 8%;
    margin-left: 15%;
}

#forgot_password a{
    color: black;
    width: 100%;
}

#forgot_password a:hover{
    color: aliceblue;
}
#container-login{
    display: flex;
    justify-content: center;
    margin-top: 10%;
}
