#cuerpo div{
    background-color: #83C2CF;
    width: 50%;
    text-align: center;
}

#cuerpo{
    text-align: center;
    background-color: #83C2CF;
    padding: 0;
    margin: 0;
}

#usuario{
    margin-bottom: 2%;
    margin-left: 5%;
    text-align: center;
}

#usuario #lblUsuario{
    margin-bottom: 5%;
}

#contraseña{
    margin-bottom: 2%;
    margin-left: 5%;
}

#error{
    color: red;
}

.botones{
    float: left;
}

#diverror{
    margin-left: 2%;
}




